@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body{font-family: "Sour Gummy", sans-serif;}

h1{
    font-size:55px;
    color:  #ffff;
text-align: center;
}

p{
 font-size:22px;
    color:  #ffff;

}

.memes{

display: flex;
}